/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* abeatbyKaiRegular only for headings */
@font-face {
  font-family: 'abeatbyKai';
  font-style: normal;
  font-weight: 400;
  src: url(../font/abeatbyKaiRegular.otf) format("otf"); }

@font-face {
  font-family: 'abeatbyKai';
  font-style: normal;
  font-weight: 400;
  src: url(../font/ABEAKRG_.ttf) format("ttf"); }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #eee;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  line-height: 1.2;
  font-family: Lato, sans-serif;
  font-size: 1em; }
  body ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  body input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    outline: 0;
    border-radius: 0; }
    body input[type="button"] {
      -webkit-appearance: button;
         -moz-appearance: button;
              appearance: button; }
  body img {
    max-width: 100%;
    height: auto; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (max-width: 920px) {
    .container {
      max-width: 828px; } }
  @media screen and (max-width: 768px) {
    .container {
      max-width: 691.2px; } }
  @media screen and (max-width: 480px) {
    .container {
      max-width: 432px; } }

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex--space-between {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .flex--space-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .flex--center {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  .flex--column {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

.grid {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 30px; }
  .grid article {
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 30px; }
    .grid article .article__image {
      position: relative; }
      .grid article .article__image img {
        width: 100%;
        height: 500px;
        box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.7); }
      .grid article .article__image .btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate3d(-50%, 100%, 0);
                transform: translate3d(-50%, 100%, 0);
        transition: all .3s ease-in-out; }
    .grid article:hover .article__image .btn {
      -webkit-transform: translate3d(-50%, -100%, 0);
              transform: translate3d(-50%, -100%, 0);
      visibility: visible;
      opacity: 1; }
    .grid article p {
      text-align: center;
      margin-top: 15px; }
  .grid .testimonial {
    -webkit-flex: 0 1 30%;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    padding: 15px;
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline; }
    .grid .testimonial img {
      width: 100%;
      max-width: 300px;
      height: 300px;
      box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.7); }
    .grid .testimonial h3,
    .grid .testimonial p {
      margin-top: 30px;
      margin-bottom: 30px; }
    .grid .testimonial p {
      font-size: 20px; }

.facing-the-reality__grid {
  max-width: 1380px;
  margin: 30px auto; }
  .facing-the-reality__grid .facing-the-reality__grid-image {
    width: 690px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.7); }
  .facing-the-reality__grid .facing-the-reality__grid-article {
    width: 300px;
    height: 300px;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #ddd;
    color: #111;
    box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.7); }
  .facing-the-reality__grid .facing-the-reality__grid-article-wrapper:first-child .facing-the-reality__grid-image {
    background: url(../images/landscape.jpeg) no-repeat center;
    background-size: cover; }
  .facing-the-reality__grid .facing-the-reality__grid-article-wrapper:nth-child(2) .facing-the-reality__grid-image {
    background: url(../images/medical.jpeg) no-repeat center;
    background-size: cover; }
  .facing-the-reality__grid .facing-the-reality__grid-article-wrapper:nth-child(3) .facing-the-reality__grid-image {
    background: url(../images/medical1.jpeg) no-repeat center;
    background-size: cover; }
  .facing-the-reality__grid .facing-the-reality__grid-article-wrapper:nth-child(4) .facing-the-reality__grid-image {
    background: url(../images/sea.jpeg) no-repeat center;
    background-size: cover; }
  .facing-the-reality__grid .facing-the-reality__grid-article-wrapper:last-child .facing-the-reality__grid-image {
    background: url(../images/sea1.jpeg) no-repeat center;
    background-size: cover; }
  .facing-the-reality__grid .facing-the-reality__grid-article-wrapper--even {
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

a {
  text-decoration: none;
  color: inherit;
  outline: 0; }

::-moz-selection {
  background: #111;
  color: #ddd; }

::selection {
  background: #111;
  color: #ddd; }

::-moz-selection {
  background: #111;
  color: #ddd; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: transparent;
  color: #111; }

h1 {
  font-size: 50px;
  font-family: 'abeatbyKai'; }
  @media screen and (max-width: 920px) {
    h1 {
      font-size: 40px; } }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 30px; } }

h2 {
  font-size: 45px;
  font-family: 'abeatbyKai'; }
  @media screen and (max-width: 920px) {
    h2 {
      font-size: 35px; } }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 25px; } }

h3 {
  font-size: 35px;
  font-family: 'abeatbyKai'; }
  @media screen and (max-width: 920px) {
    h3 {
      font-size: 25px; } }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 15px; } }

h4 {
  font-size: 24px;
  font-family: 'abeatbyKai'; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 28px; }

.btn {
  background: #641E77;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ddd;
  font-family: abeatbyKai;
  font-size: 1.0625em;
  padding: 15px 20px;
  box-shadow: 0px 0px 0px 2px inset; }

.header {
  padding: 20px;
  position: relative;
  z-index: 100; }
  .header .burger-menu {
    width: 3.125em;
    height: 3.125em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer; }
    .header .burger-menu span {
      display: block;
      width: 100%;
      height: 2px;
      position: relative;
      background-color: #9E1981; }
      .header .burger-menu span:after, .header .burger-menu span:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #9E1981; }
      .header .burger-menu span:after {
        top: -15px; }
      .header .burger-menu span:before {
        top: 15px; }

.footer__top {
  background: #AB35CA;
  color: #ddd;
  padding: 30px; }
  .footer__top h3,
  .footer__top a[href^="tel:"] {
    padding: 15px 30px 0; }
  .footer__top a[href^="tel:"] {
    font-family: 'abeatbyKai', sans-serif;
    font-size: 35px; }
  .footer__top-contact, .footer__top-map {
    margin-bottom: 30px;
    margin-top: 30px; }
  .footer__top-map {
    height: 600px; }

.navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .navbar ul li a {
    color: #9E1981;
    font-family: abeatbyKai;
    font-size: 1.875em;
    padding: 10px 15px;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: relative;
    transition: color .3s linear; }
    .navbar ul li a:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #9E1981;
      -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
          -ms-transform-origin: 0 50%;
              transform-origin: 0 50%;
      transition: all .3s ease-in-out; }
    .navbar ul li a:hover, .navbar ul li a:focus, .navbar ul li a:active {
      color: #fff; }
      .navbar ul li a:hover:before, .navbar ul li a:focus:before, .navbar ul li a:active:before {
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1); }

.home-section__overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.home-section {
  height: 100vh;
  background: url(https://c3.staticflickr.com/9/8567/16360331050_2a9c7c04a3_b.jpg) no-repeat;
  background-size: cover;
  position: relative; }
  .home-section__logo {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 100; }
    .home-section__logo svg {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      min-width: 20em;
      width: 50em; }
  .home-section h2 {
    font-family: 'Lato';
    color: #fff;
    text-align: center;
    position: relative; }
  .home-section .fa-angle-down {
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation-name: wobble-vertical;
            animation-name: wobble-vertical;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

.solutions-section {
  background: #A51C87;
  color: #ddd;
  padding: 30px; }

.facing-the-reality-section {
  background: #641E77;
  color: #fff;
  text-align: center;
  padding: 30px; }
  .facing-the-reality-section p {
    font-size: 38px; }
  .facing-the-reality-section .twitter-container {
    margin-top: 30px; }

.testimonials-section {
  background: #3F0D4D;
  color: #ddd;
  padding: 30px;
  text-align: center; }
/*# sourceMappingURL=main.css.map */