/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* abeatbyKaiRegular only for headings */
@font-face {
  font-family: 'abeatbyKai';
  font-style: normal;
  font-weight: 400;
  src: url(../font/abeatbyKaiRegular.otf);
  src: url(../font/ABEAKRG_.TTF); }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }

.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: .9s;
          animation-duration: .9s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

.opacity {
  opacity: 0; }

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
          animation-name: fadeInDownBig;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
          animation-name: fadeInLeftBig;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
          animation-name: fadeInRightBig;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

.tada {
  -webkit-animation-name: tada;
          animation-name: tada;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

.astrumLogo path {
  transition: stroke-dashoffset .6s linear, fill .3s ease .5s; }

.astrumLogo .svg1 {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1px;
  stroke-dasharray: 118.69804382324219px;
  stroke-dashoffset: -118.69804382324219px; }

.astrumLogo .svg2 {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1px;
  stroke-dasharray: 118.69804382324219px;
  stroke-dashoffset: -118.69804382324219px; }

.astrumLogo .svg3 {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1px;
  stroke-dasharray: 118.69804382324219px;
  stroke-dashoffset: -118.69804382324219px; }

.astrumLogo .svg4 {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1px;
  stroke-dasharray: 545.24169921875px;
  stroke-dashoffset: -545.24169921875px; }

.astrumLogo .svg6 {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1px;
  stroke-dasharray: 473.6961975097656px;
  stroke-dashoffset: -473.6961975097656px; }

.astrumLogo .svg5 {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1px;
  stroke-dasharray: 545.1317138671875px;
  stroke-dashoffset: -545.1317138671875px; }

.astrumLogo.animate .svg1 {
  stroke-dashoffset: 0px; }

.astrumLogo.animate .svg2 {
  stroke-dashoffset: 0px; }

.astrumLogo.animate .svg3 {
  stroke-dashoffset: 0px; }

.astrumLogo.animate .svg4 {
  fill: #531664;
  stroke-dashoffset: 0px; }

.astrumLogo.animate .svg6 {
  fill: #9D1981;
  stroke-dashoffset: 0px; }

.astrumLogo.animate .svg5 {
  fill: #621D75;
  stroke-dashoffset: 0px; }

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #eee;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  line-height: 1.2;
  font-family: Lato, sans-serif;
  font-size: 1em; }
  body ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  body input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    outline: 0;
    border-radius: 0; }
    body input[type="button"] {
      -webkit-appearance: button;
         -moz-appearance: button;
              appearance: button; }
  body img {
    max-width: 100%;
    height: auto; }
  body.no-scroll {
    overflow-y: hidden;
    position: fixed;
    width: 100%;
    height: 100%; }

.container {
  max-width: 75.000em;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (max-width: 58.75em) {
    .container {
      max-width: 52.875em; } }
  @media screen and (max-width: 48em) {
    .container {
      max-width: 43.2em; } }
  @media screen and (max-width: 30em) {
    .container {
      max-width: 27em; } }

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex--space-between {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .flex--space-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .flex--center {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .flex--column {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

.grid {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 30px; }
  .grid article {
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 30px; }
    @media screen and (max-width: 58.75em) {
      .grid article {
        padding: 20px; } }
    @media screen and (max-width: 48em) {
      .grid article {
        -webkit-flex: 1 1 100%;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%; } }
    .grid article .article__image {
      position: relative;
      overflow: hidden; }
      .grid article .article__image img {
        width: 100%;
        height: 500px;
        box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.7);
        transition: all .25s ease-in-out; }
        @media screen and (max-width: 68.75em) {
          .grid article .article__image img {
            height: 400px; } }
        @media screen and (max-width: 30em) {
          .grid article .article__image img {
            height: 300px; } }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
          .grid article .article__image img {
            height: 300px !important; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
          .grid article .article__image img {
            height: 200px; } }
      .grid article .article__image .btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate3d(-50%, 100%, 0);
                transform: translate3d(-50%, 100%, 0);
        transition: all .3s ease-in-out; }
    .grid article:hover .article__image img {
      -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
              transform: scale(1.5); }
    .grid article:hover .article__image .btn {
      -webkit-transform: translate3d(-50%, -100%, 0);
              transform: translate3d(-50%, -100%, 0);
      visibility: visible;
      opacity: 1; }
    .grid article p {
      text-align: center;
      margin-top: 15px; }
      @media screen and (max-width: 68.75em) {
        .grid article p {
          font-size: 1.5em; } }
  .grid .testimonial {
    -webkit-flex: 0 1 30%;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    padding: 15px;
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline;
    margin: 0 auto; }
    @media screen and (max-width: 48em) {
      .grid .testimonial {
        -webkit-flex: 0 1 100%;
            -ms-flex: 0 1 100%;
                flex: 0 1 100%; } }
    .grid .testimonial img {
      max-width: 300px;
      height: 300px;
      box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.7); }
      @media screen and (max-width: 58.75em) {
        .grid .testimonial img {
          max-width: 100%; } }
    .grid .testimonial h3,
    .grid .testimonial p {
      margin-top: 30px;
      margin-bottom: 30px; }
    .grid .testimonial p {
      font-size: 20px; }

.facing-the-reality__grid {
  max-width: 1380px;
  margin: 30px auto; }
  .facing-the-reality__grid .facing-the-reality__grid-article-wrapper {
    max-width: 1240px; }
    @media screen and (max-width: 30em) {
      .facing-the-reality__grid .facing-the-reality__grid-article-wrapper {
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; } }
  .facing-the-reality__grid .facing-the-reality__grid-image {
    width: 620px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.7);
    max-width: 100%; }
  .facing-the-reality__grid .facing-the-reality__grid-article {
    width: 300px;
    height: 300px;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #ddd;
    color: #111;
    box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.7); }
    @media screen and (max-width: 30em) {
      .facing-the-reality__grid .facing-the-reality__grid-article {
        width: auto; } }
  .facing-the-reality__grid .facing-the-reality__grid-article-wrapper:first-child .facing-the-reality__grid-image {
    background: url(../images/landscape.jpeg) no-repeat center;
    background-size: cover; }
  .facing-the-reality__grid .facing-the-reality__grid-article-wrapper:nth-child(2) .facing-the-reality__grid-image {
    background: url(../images/medical.jpeg) no-repeat center;
    background-size: cover; }
  .facing-the-reality__grid .facing-the-reality__grid-article-wrapper:nth-child(3) .facing-the-reality__grid-image {
    background: url(../images/medical1.jpeg) no-repeat center;
    background-size: cover; }
  .facing-the-reality__grid .facing-the-reality__grid-article-wrapper:nth-child(4) .facing-the-reality__grid-image {
    background: url(../images/sea.jpeg) no-repeat center;
    background-size: cover; }
  .facing-the-reality__grid .facing-the-reality__grid-article-wrapper:last-child .facing-the-reality__grid-image {
    background: url(../images/sea1.jpeg) no-repeat center;
    background-size: cover; }
  .facing-the-reality__grid .facing-the-reality__grid-article-wrapper--even {
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media screen and (max-width: 30em) {
      .facing-the-reality__grid .facing-the-reality__grid-article-wrapper--even {
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; } }

a {
  text-decoration: none;
  color: inherit;
  outline: 0; }

::-moz-selection {
  background: #111;
  color: #ddd; }

::selection {
  background: #111;
  color: #ddd; }

::-moz-selection {
  background: #111;
  color: #ddd; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: transparent;
  color: #111; }

h1 {
  font-size: 3.125em;
  font-family: 'abeatbyKai'; }
  @media screen and (max-width: 58.75em) {
    h1 {
      font-size: 2.500em; } }
  @media screen and (max-width: 48em) {
    h1 {
      font-size: 1.875em; } }

h2,
a[href^="tel:"] {
  font-size: 2.813em;
  font-family: 'abeatbyKai'; }
  @media screen and (max-width: 58.75em) {
    h2,
    a[href^="tel:"] {
      font-size: 2.188em; } }
  @media screen and (max-width: 48em) {
    h2,
    a[href^="tel:"] {
      font-size: 1.563em; } }

h3 {
  font-size: 2.188em;
  font-family: 'abeatbyKai'; }
  @media screen and (max-width: 58.75em) {
    h3 {
      font-size: 1.563em; } }
  @media screen and (max-width: 48em) {
    h3 {
      font-size: 0.938em; } }

h4 {
  font-size: 1.500em;
  font-family: 'abeatbyKai'; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.750em; }

.btn {
  background: #641E77;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ddd;
  font-family: abeatbyKai;
  font-size: 1.0625em;
  padding: 15px 20px;
  box-shadow: 0px 0px 0px 2px inset; }
  .btn--submit {
    outline: 0;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.back-to-top {
  background: #AB35CA;
  color: #fff;
  border-radius: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 20; }
  @media screen and (max-width: 48em) {
    .back-to-top {
      bottom: 3.75em; } }
  .back-to-top i {
    padding-bottom: 5px; }

/*
    Flaticon icon font: Flaticon
    Creation date: 17/09/2016 11:33
    */
@font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"), url("../font/Flaticon.woff") format("woff"), url("../font/Flaticon.ttf") format("truetype"), url("../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg#Flaticon") format("svg"); } }

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-businessman-resources-graphic:before {
  content: "\f100"; }

.flaticon-customer-testimonial:before {
  content: "\f101"; }

.flaticon-labyrinth:before {
  content: "\f102"; }

.header {
  padding: 20px;
  position: relative;
  z-index: 100;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header--fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .header .burger-menu {
    width: 3.125em;
    height: 3.125em;
    display: none;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer; }
    @media screen and (max-width: 48em) {
      .header .burger-menu {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
    .header .burger-menu span {
      display: block;
      width: 100%;
      height: 2px;
      position: relative;
      background-color: #9E1981; }
      .header .burger-menu span:after, .header .burger-menu span:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #9E1981; }
      .header .burger-menu span:after {
        top: -15px; }
      .header .burger-menu span:before {
        top: 15px; }

.footer__top {
  background: #AB35CA;
  color: #ddd;
  padding: 30px; }
  .footer__top h2,
  .footer__top a[href^="tel:"] {
    padding-left: 15px;
    cursor: pointer; }
  @media screen and (max-width: 39.063em) {
    .footer__top-map-content-wrapper {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .footer__top-contact, .footer__top-map {
    margin-bottom: 30px;
    margin-top: 30px; }
  .footer__top-map {
    height: 400px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 700px; }
  .footer__top--email-phone i {
    font-size: 5em; }
    @media screen and (max-width: 58.75em) {
      .footer__top--email-phone i {
        font-size: 4em; } }
    @media screen and (max-width: 48em) {
      .footer__top--email-phone i {
        font-size: 2em; } }
  @media screen and (max-width: 48em) {
    .footer__top--email-phone h2, .footer__top--email-phone a[href^="tel:"] {
      font-size: 1.3em; } }
  @media screen and (max-width: 28.125em) {
    .footer__top--email-phone i {
      font-size: 1.3em; }
    .footer__top--email-phone h2, .footer__top--email-phone a[href^="tel:"] {
      font-size: .83em; } }
  .footer__top-contact {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: 20px; }
    @media screen and (max-width: 39.063em) {
      .footer__top-contact {
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
      .footer__top-contact {
        -webkit-flex-direction: row !important;
            -ms-flex-direction: row !important;
                flex-direction: row !important; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
      .footer__top-contact {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
      .footer__top-contact div {
        margin-top: 15px;
        margin-bottom: 15px; } }
    .footer__top-contact div i {
      font-size: 5em; }
      @media screen and (max-width: 58.75em) {
        .footer__top-contact div i {
          font-size: 4em; } }
      @media screen and (max-width: 48em) {
        .footer__top-contact div i {
          font-size: 2em; } }
    @media screen and (max-width: 48em) {
      .footer__top-contact div h2, .footer__top-contact div a[href^="tel:"] {
        font-size: 1.3em; } }
    @media screen and (max-width: 28.125em) {
      .footer__top-contact div i {
        font-size: 1.3em; }
      .footer__top-contact div h2, .footer__top-contact div a[href^="tel:"] {
        font-size: .83em; } }
  .footer__top-contact-us {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(165, 28, 135, 0.85);
    z-index: 150;
    padding: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    transition: all .3s ease-in-out; }
    .footer__top-contact-us .contact-us__close {
      color: #ddd;
      position: fixed;
      top: 15px;
      left: 15px;
      font-size: 4em;
      font-family: abeatbyKai, sans-serif;
      font-weight: 100;
      cursor: pointer; }
    .footer__top-contact-us.is-visible {
      opacity: 1;
      visibility: visible; }

.footer__centre {
  background: #8A8A8A;
  color: #ddd; }
  @media screen and (max-width: 39.063em) {
    .footer__centre section {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .footer__centre svg {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    min-width: 20em;
    width: 20em; }
  .footer__centre .footer__centre-navigation {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .footer__centre .footer__centre-navigation ul {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .footer__centre .footer__centre-navigation ul li {
        width: 50%;
        -webkit-flex: 1 1 50%;
            -ms-flex: 1 1 50%;
                flex: 1 1 50%;
        text-align: center;
        margin: 30px 0; }
        @media screen and (max-width: 48em) {
          .footer__centre .footer__centre-navigation ul li {
            -webkit-flex: 1 1 100%;
                -ms-flex: 1 1 100%;
                    flex: 1 1 100%;
            width: auto; } }
        .footer__centre .footer__centre-navigation ul li a {
          color: #ddd;
          font-family: abeatbyKai;
          font-size: 1.875em;
          padding: 10px 15px;
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          box-shadow: 0 0 1px transparent;
          -webkit-backface-visibility: hidden;
                  backface-visibility: hidden;
          position: relative;
          transition: all .3s linear;
          border-bottom: 2px solid; }
          .footer__centre .footer__centre-navigation ul li a:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #9E1981;
            -webkit-transform: scaleX(0);
                -ms-transform: scaleX(0);
                    transform: scaleX(0);
            -webkit-transform-origin: 0 50%;
                -ms-transform-origin: 0 50%;
                    transform-origin: 0 50%;
            transition: all .3s ease-in-out; }
          .footer__centre .footer__centre-navigation ul li a:hover, .footer__centre .footer__centre-navigation ul li a:focus, .footer__centre .footer__centre-navigation ul li a:active {
            color: #fff; }
            .footer__centre .footer__centre-navigation ul li a:hover:before, .footer__centre .footer__centre-navigation ul li a:focus:before, .footer__centre .footer__centre-navigation ul li a:active:before {
              -webkit-transform: scaleX(1);
                  -ms-transform: scaleX(1);
                      transform: scaleX(1); }
          @media screen and (max-width: 58.75em) {
            .footer__centre .footer__centre-navigation ul li a {
              font-size: 1.438em; } }
          .footer__centre .footer__centre-navigation ul li a:hover {
            border-bottom: 0; }

.footer__bottom-copyright p {
  padding: 20px 0;
  color: #7C136C;
  font-family: 'abeatbyKai', sans-serif;
  font-size: 1.875em; }
  @media screen and (max-width: 58.75em) {
    .footer__bottom-copyright p {
      font-size: 1.438em; } }
  @media screen and (max-width: 39.063em) {
    .footer__bottom-copyright p {
      font-size: .65em;
      word-break: break-all; } }

.footer__bottom-copyright a {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  transition: all .3s linear;
  border-bottom: 2px solid #8A8A8A;
  padding: 10px 15px; }
  .footer__bottom-copyright a:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #9E1981;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
    transition: all .3s ease-in-out; }
  .footer__bottom-copyright a:hover, .footer__bottom-copyright a:focus, .footer__bottom-copyright a:active {
    color: #fff; }
    .footer__bottom-copyright a:hover:before, .footer__bottom-copyright a:focus:before, .footer__bottom-copyright a:active:before {
      -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
              transform: scaleX(1); }
  .footer__bottom-copyright a:hover {
    border-bottom: 0; }

form {
  min-height: 500px;
  overflow: auto; }
  @media screen and (max-width: 48em) {
    form {
      width: 80%;
      margin-right: auto;
      margin-left: auto; } }
  form h2 {
    text-align: center; }
  form .label__wrapper {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px; }
    @media screen and (max-width: 48em) {
      form .label__wrapper {
        margin-top: 15px;
        margin-bottom: 15px; } }
    form .label__wrapper input,
    form .label__wrapper textarea {
      display: block;
      background: none;
      transition: all .3s ease-in-out;
      border: none;
      border-bottom: 2px solid #fff;
      width: 100%;
      color: #fff;
      font-size: 1.875em;
      padding: 10px;
      resize: none;
      font-family: Lato, sans-serif; }
      form .label__wrapper input ~ .label--floating,
      form .label__wrapper textarea ~ .label--floating {
        transition: all .3s ease-in-out;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        font-size: 1.875em;
        font-family: abeatbyKai, sans-serif;
        border-radius: 0; }
        @media screen and (max-width: 48em) {
          form .label__wrapper input ~ .label--floating,
          form .label__wrapper textarea ~ .label--floating {
            font-size: 1.2em;
            top: 17px; } }
      form .label__wrapper input:focus,
      form .label__wrapper textarea:focus {
        outline: none; }
      form .label__wrapper input:focus ~ .label--floating,
      form .label__wrapper input:valid ~ .label--floating,
      form .label__wrapper textarea:focus ~ .label--floating,
      form .label__wrapper textarea:valid ~ .label--floating {
        top: -17px;
        font-size: 1em; }
        @media screen and (max-width: 48em) {
          form .label__wrapper input:focus ~ .label--floating,
          form .label__wrapper input:valid ~ .label--floating,
          form .label__wrapper textarea:focus ~ .label--floating,
          form .label__wrapper textarea:valid ~ .label--floating {
            top: -10px; } }
      form .label__wrapper input:focus ~ .bar:before,
      form .label__wrapper input:focus ~ .bar:after,
      form .label__wrapper textarea:focus ~ .bar:before,
      form .label__wrapper textarea:focus ~ .bar:after {
        width: 50%; }
      form .label__wrapper input:focus ~ .highlight,
      form .label__wrapper textarea:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease-in-out;
                animation: inputHighlighter 0.3s ease-in-out; }
      @media screen and (max-width: 48em) {
        form .label__wrapper input,
        form .label__wrapper textarea {
          font-size: 1em; } }
    form .label__wrapper .bar {
      position: relative;
      display: block;
      width: 100%; }
      form .label__wrapper .bar:before, form .label__wrapper .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: #902daa;
        transition: 0.2s ease all; }
      form .label__wrapper .bar:before {
        left: 50%; }
      form .label__wrapper .bar:after {
        right: 50%; }

.navbar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 48em) {
    .navbar {
      display: none; } }
  .navbar ul li a {
    color: #9E1981;
    font-family: abeatbyKai;
    font-size: 1.875em;
    padding: 10px 15px;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: relative;
    transition: all .3s linear; }
    .navbar ul li a:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #9E1981;
      -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
          -ms-transform-origin: 0 50%;
              transform-origin: 0 50%;
      transition: all .3s ease-in-out; }
    .navbar ul li a:hover, .navbar ul li a:focus, .navbar ul li a:active {
      color: #fff; }
      .navbar ul li a:hover:before, .navbar ul li a:focus:before, .navbar ul li a:active:before {
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1); }
    @media screen and (max-width: 48em) {
      .navbar ul li a {
        margin-left: 2em;
        margin-right: 2em; } }
    @media screen and (max-width: 30em) {
      .navbar ul li a {
        font-size: 1.5em;
        margin-left: 1em;
        margin-right: 1em; } }

.offscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(171, 53, 202, 0.85);
  z-index: 999;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  transition: all 0.5s cubic-bezier(0.4, 1.4, 0.7, 0.9);
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }
  .offscreen-menu.is-visible {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }
  .offscreen-menu__close {
    color: #ddd;
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 4em;
    font-family: abeatbyKai, sans-serif;
    font-weight: 100;
    cursor: pointer; }
  .offscreen-menu ul {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .offscreen-menu ul li {
      margin-top: 20px;
      margin-bottom: 20px; }
      @media screen and (max-width: 30em) {
        .offscreen-menu ul li {
          margin-top: 10px;
          margin-bottom: 10px; } }
      .offscreen-menu ul li a {
        font-family: abeatbyKai, sans-serif;
        font-size: 2.188em;
        text-align: center;
        border-bottom: 2px solid #ddd;
        color: #ddd;
        padding: 15px;
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        box-shadow: 0 0 1px transparent;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        position: relative;
        transition: all .3s linear; }
        .offscreen-menu ul li a:before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #fff;
          -webkit-transform: scaleX(0);
              -ms-transform: scaleX(0);
                  transform: scaleX(0);
          -webkit-transform-origin: 0 50%;
              -ms-transform-origin: 0 50%;
                  transform-origin: 0 50%;
          transition: all .3s ease-in-out; }
        .offscreen-menu ul li a:hover, .offscreen-menu ul li a:focus, .offscreen-menu ul li a:active {
          color: #9E1981; }
          .offscreen-menu ul li a:hover:before, .offscreen-menu ul li a:focus:before, .offscreen-menu ul li a:active:before {
            -webkit-transform: scaleX(1);
                -ms-transform: scaleX(1);
                    transform: scaleX(1); }
        @media screen and (max-width: 30em) {
          .offscreen-menu ul li a {
            font-size: 1.563em;
            padding: 5px; } }
        .offscreen-menu ul li a:hover {
          border-bottom: 0; }

.home-section__overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.home-section {
  background: url(../images/geometric1.jpg) no-repeat top center fixed;
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 46.875em; }
  @media screen and (max-width: 48em) and (orientation: portrait) {
    .home-section {
      height: 100vh; } }
  .home-section__logo {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 100; }
    .home-section__logo svg {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      min-width: 20em;
      width: 50em; }
      @media screen and (max-width: 58.75em) {
        .home-section__logo svg {
          width: 45em; } }
  .home-section h2 {
    font-family: 'Lato';
    color: #88166f;
    text-align: center;
    position: relative; }
  .home-section .fa-angle-down {
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    color: #9E1981;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation-name: wobble-vertical;
            animation-name: wobble-vertical;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

.solutions-section {
  background: #791563;
  color: #ddd;
  padding: 30px; }

.facing-the-reality-section {
  background: #641E77;
  color: #fff;
  text-align: center;
  padding: 30px; }
  .facing-the-reality-section p {
    font-size: 2em; }
    @media screen and (max-width: 48em) {
      .facing-the-reality-section p {
        font-size: 1.4em; } }
  .facing-the-reality-section a {
    padding: 10px 20px;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: relative;
    transition: all .3s linear;
    border-bottom: 1px solid; }
    .facing-the-reality-section a:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #d0d0d0;
      -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
          -ms-transform-origin: 0 50%;
              transform-origin: 0 50%;
      transition: all .3s ease-in-out; }
    .facing-the-reality-section a:hover, .facing-the-reality-section a:focus, .facing-the-reality-section a:active {
      color: #9E1981; }
      .facing-the-reality-section a:hover:before, .facing-the-reality-section a:focus:before, .facing-the-reality-section a:active:before {
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1); }
    .facing-the-reality-section a:hover {
      border: none; }
  .facing-the-reality-section .twitter-container {
    margin-top: 30px; }

.testimonials-section {
  background: #3F0D4D;
  color: #ddd;
  padding: 30px;
  text-align: center; }
/*# sourceMappingURL=main.css.map */