// Fonts

// importing Lato

@import url('https://fonts.googleapis.com/css?family=Lato:300');

/* abeatbyKaiRegular only for headings */

@font-face {
  font-family: 'abeatbyKai';
  font-style: normal;
  font-weight: 400;
  src: url(../font/abeatbyKaiRegular.otf);
  src: url(../font/ABEAKRG_.TTF) ;
}
