// Sweep to right
@mixin sweep-to-right($backgroundColor, $color) {
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    transition: all .3s linear;
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $backgroundColor;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: all .3s ease-in-out;
    }
    &:hover,
    &:focus,
    &:active {
        color: $color;
        &:before {
            transform: scaleX(1);
        }
    }
}

// Wobble vertical animation

@mixin wobble-vertical {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    animation-name: wobble-vertical;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
