// Colours

$silver: #ddd;
$black:  #111;
$solutions-bg: #A51C87;
$facing-the-reality-bg: #641E77;
$testimonials-bg: #3F0D4D;
$btn-bg: $facing-the-reality-bg;

// Spacing variables (margin & padding)

$spacing-small: 10px;
$spacing-base: 15px;
$spacing-medium: 20px;
$spacing-large: 30px;
