- var production = true;
doctype html
html(lang="en-GB")
  head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content ='IE=edge')
      meta(name='description', content='Astrum Health is a leader in providing education and solutions that improve infection control within medical environments.')
      meta(name='keywords', content='keywords')
      meta(name="robots", content="index, follow")
      meta(name='author', content='Francesco Albanese')
      link(rel='canonical', href='aquaphase-washer-disinfector.html')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
      title Astrum Health
      include partials/page-components/favicons.jade
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")
      - if (!production)
        link(rel='stylesheet', href='css/main.css')
      - else  
        link(rel='stylesheet', href='css/main.min.css')
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js", charset="utf-8")
      
      <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
    
  body(id="top", class="aquaphase-washer-disinfector")
    section.header--not-home
      .container 
          include partials/page-components/header-not-home.jade
        
    section.content.fadeIn
      .container
        article.content__container
          h1 AquaPhase Washer Disinfectors
          img.content__image(src="images/washer-disinfector.jpg")
          p.split-columns At Astrum we understand that the key objective of healthcare professionals is not only to provide medical care, but also to protect patients, staff and visitors from the risk of healthcare transmitted infections. With increased emphasis on antibiotic control, inanimate environmental infection control is integral to supporting widespread effective hand washing initiatives. With that in mind, Astrum offers automated washing and decontamination solutions for healthcare and pharmaceutical needs. Improve your infection control with a >log 5 disinfection offered by our solutions. 
          
          h2 The Eye Can’t See What The Eye Can’t See
          p.split-columns Automated washer disinfectors enable achievement of best practice compliance. Our AquaPhase range of automated washers’ offers superior cleaning and disinfection performance whilst supporting the improvement of the health and safety of decontamination staff. You can be rest assured of a robust machine with limited down time and longevity that also meets ISO15883-7”. The AquaPhase boasts of proven >log 5 disinfection. 
        
        .tabs
          .tabs-title-container.flex
            .tab__title.is-active 
              span Features & Benefits
            .tab__title 
              span Explore All Models
            .tab__title 
              span AquaPhase Chemicals
        
          .tab
            .tab__content
              .features-benefits.features-benefits--odd
                p <span class="f">F</span>: Stainless steel body.
                p <span class="b">B</span>: The stainless steel walls make the AquaPhase durable, robust, and therefore long-lasting.
                
              .features-benefits
                p <span class="f">F</span>: Oscillating stainless steel spray arms for water and chemical application.
                p <span class="b">B</span>: Oscillating spray arms ensure that water and chemicals are applied to every surface of the equipment being washed.
                
              .features-benefits.features-benefits--odd
                p <span class="f">F</span>: Availability of optional ramps and a motor controlled conveyor belt.
                p <span class="b">B</span>: Easy loading and unloading of large items with the use of ramps and conveyor belts help negate improper lifting.
              .features-benefits
                p <span class="f">F</span>: Choice of a wash or disinfect cycle times (3/5/7mins) depending on the size of the wash load and level of contamination.
                p <span class="b">B</span>: Short wash and rinse cycles benefit in time savings through low equipment downtime, and at the same time allow more items to be washed and disinfected in a day.
              .features-benefits.features-benefits--odd
                p <span class="f">F</span>: An accurate & automated chemical application system.
                p <span class="b">B</span>: The automated operation of the machines rids of guesswork and human error. This offers savings in staff cost and time, reduces human contact with the equipment, and thereby reduces the risk of cross contamination.
              .features-benefits
                p <span class="f">F</span>: Window view into chamber. 
                p <span class="b">B</span>: Operators can visually monitor machine functionality in the chamber.
              .features-benefits.features-benefits--odd
                p <span class="f">F</span>: Factory fitted heavy-duty caster wheels. 
                p <span class="b">B</span>: Easier transportation across flat surfaces.
              .features-benefits
                p <span class="f">F</span>: Availability of pass-through (PT) options. 
                p <span class="b">B</span>: Pass-through options enable the use of best practice ‘dirty/clean’ segregation, reducing the risk of cross-contamination.              
              .features-benefits.features-benefits--odd
                p <span class="f">F</span>: Chemical disinfection process. 
                p <span class="b">B</span>: Prevents damage of equipment from thermal process options, making savings. 
                p NOTE: Using chemical disinfection is more cost effective and safer than thermal disinfection. The combination of AQ chemicals is effective against a broad spectrum of microorganisms including MRSA and C. difficile.
              .features-benefits
                p <span class="f">F</span>: Validated and reproducible automated cycles
                p <span class="b">B</span>: Validated wash efficacy that meets standards and offers peace of mind to users.
              .features-benefits.features-benefits--odd
                p <span class="f">F</span>: Reuse of final rinse water for the start of the next wash cycle (optional).
                p <span class="b">B</span>: Recycled water adds to cost savings.
          .tab
            .tab__content
              .display-mode
                p Choose display mode: 
                button(data-display="grid").btn.btn--display Grid
                button(data-display="list").btn.btn--display List
                button(data-display="slider").btn.btn--display Slider
              .tab__content--explore-all-models.flex 
                //- .model-content.flex 
                //-   h3 AQ4800PT – Bariatric
                //-   p #[img.content__image(src="images/AQ4800PT.jpg")]
                //-   p Offering the best solution on the market to cater for your bariatric equipment. Stainless steel spray arms combined with 83 spray nozzles for improved cleaning efficiency.
                  
                //- h4 Technical Features:
                //- p Outer Dimensions
                //- ul 
                //-   li Width 74”
                //-   li Length 108-3/4
                //-   li Height 77-1/4”
                //- p Effective Chamber Dimensions
                //-   ul
                //-     li Width 51”
                //-     li Length 105-3/8”
                //-     li Height 53-1/4”
                //- p Options:
                //-   ul
                //-     li Data and Audit Tracker (AQDC)
                //-     li Enhancements Include Additional
                //-     li Temperature sensors
                //-     li Chemical injection sensors
                //-     li Disinfection level sensors
                //-     li Data processor
                //-     li Printer
                //-     li Heatrae Sadia Megaflo Unvented Water Heater x2 (DDD300)
                //-     li Ramps – 6 Foot: 2 pairs (AQRA6)
                //-     li Ramps – 8 Foot: 2 pairs (AQRA8)
                //-     li Lighted Wash Chamber (AQ60)
                //- .model-content.flex
                //-   h3 AQ4000  
                //-   p #[img.content__image(src="images/AQ4000.jpg")]
                //-   h4 The ultimate solution designed to cater for hospitals and large medical equipment. Can accommodate hospital beds and similarly sized equipment. Stainless steel spray arms combined with 60 spray nozzles for improved cleaning efficiency.
                //- h4 Technical Features:
                //- ul
                //-   li 2 HP Motor/ Stainless Steel Pump
                //-   li 230V, 50/60Hz, Single Phase AC Operation
                //- p Outer Dimensions:
                //-   ul
                //-     li Width 63-1/4”
                //-     li Length 96-3/4” 
                //-     li Height 73” 
                //- p Effective Chamber Dimensions
                //-   ul
                //-     li Width 40-1/2” 
                //-     li Length 93-3/4” 
                //-     li Height 48-1/2”
                //- p Options:
                //-   ul 
                //-     li Data and Audit Tracker (AQDC)
                //-     li Enhancements Include Additional
                //-     li Temperature sensors
                //-     li Chemical injection sensors
                //-     li Disinfection level sensors
                //-     li Data processor
                //-     li Printer
                //-     li Set of Three Utility Wash Trays for AQ4000 series (AQ4353)
                //-     li Heatrae Sadia Megaflo Unvented Water Heater x2 (DDD300)
                //-     li Ramps – 4 Foot: 2 pairs (AQRA4)
                //-     li Ramps – 6 Foot: 2 pairs (AQRA6)
                //-     li Ramps – 8 Foot: 2 pairs (AQRA8)
                //-     li Lighted Wash Chamber (AQ60)
                //- .model-content.flex
                //-   h3 AQ3000
                //-   p #[img.content__image(src="images/AQ3000.jpg")]
                //-   h4 The standard washer within the AquaPhase range, maintaining the same quality-cleaning efficacy enabled by 23 wash nozzles.
                //- h4 Technical Features:
                //- ul
                //-   li 1.5 HP Motor/ Stainless Steel Pump
                //-   li 115V, 50/60Hz, 20 Amp AC Operation (230V, 50/60Hz, Single Phase AC Operation Optional)
                //-   li Wheelchair Wheel Rotation System
                //- p Outer Dimensions
                //-   ul
                //-     li Width 33-1/2”  
                //-     li Length 64”
                //-     li Height 62”
                //- p Effective Chamber Dimensions
                //-   ul 
                //-     li Width 26-1/2”
                //-     li Length 51-1/4” 
                //-     li Height 36-3/4” 
                //- p Options:
                //-  ul 
                //-   li Data and Audit Tracker (AQDC)
                //-   li Enhancements Include Additional
                //-   li Temperature sensors
                //-   li Chemical injection sensors
                //-   li Disinfection level sensors
                //-   li Data processor
                //-   li Printer
                //-   li Heatrae Sadia Megaflo Unvented Water Heater x2 (DDD300)
                //-   li Equipment Rack (AQ330E)
                //-   li Set of Two Utility Wash Trays (AQ335E)
                //-   li Ramps – 4 Foot: 2 pairs (AQRA4)
                //-   li Ramps – 6 Foot: 2 pairs (AQRA6)
                //-   li Lighted Wash Chamber (AQ60)
                //- .model-content.flex
                //- h3 AQ3500
                //- p #[img.content__image(src="images/AQ3500.jpg")]
                //- h4 Provides a larger wash chamber within the AQ3000 range of washers. Maintains superior wash efficacy enabled by 31 wash nozzles.
                //- h4 Technical Features:
                //- p
                //-   ul
                //-     li 1.5 HP Motor/ Stainless Steel Pump
                //-     li 115V, 50/60Hz, 20 Amp AC Operation
                    
                //- p Options:
                //-   ul
                //-     li Data and Audit Tracker (AQDC)
                //-     li Enhancements Include Additional
                //-     li Temperature sensors
                //-     li Chemical injection sensors
                //-     li Disinfection level sensors
                //-     li Data processor
                //-     li Heatrae Sadia Megaflo Unvented Water Heater x2 (DDD300)
                //-     li Equipment Rack (AQ330E)
                //-     li Set of Two Utility Wash Trays (AQ335E)
                //-     li Ramps – 4 Foot: 2 pairs (AQRA4)
                //-     li Ramps – 6 Foot: 2 pairs (AQRA6)
                //-     li Conveyor Belt Transfer Floor System (AQ68)
                //-     li Lighted Wash Chamber (AQ60)
                //-     li Printer
                //- .model-content--universal-features
                //-   h3 Universal Technical Features:
                //-   p
                //-     ul
                //-       li Plug and Play’ Installation
                //-       li Detergent Wash, Rinse, and Disinfect cycles
                //-       li Wash Cycle Time: 3, 5, or 7 Minute options
                //-       li LCD Status Display
                //-       li Water Temperature Monitor (Front-mounted Digital Temperature Gauge)
                //-       li Door Window
                //-       li Stainless Steel Chamber
                //-       li Stainless Steel Oscillating Spray Arms
                //-       li Dedicated Disinfection Delivery Pipework
                //-       li Heavy-Duty Castor Wheels
                //-       li Powerful Pump and Motor
          .tab
            .tab__content
              .chemicals
                h3 Chemicals
                p We supply chemicals for use with your AQ that have proven efficacy against infection control challenges such as bacteria, funguses, and viruses. These offer cleaning and disinfection efficiency as well as cost effectiveness against use of thermal disinfection and through automated and quantifiable chemical dosage that greatly reduces chemical lose.

                .chemicals-content-container
                  .chemicals-content
                    h4 Descaler (AQ223)
                    p Volume – 5L bottles
                    p Prevents the build up of lime scale within the wash chamber and pipework. 
                  .chemicals-content
                    h4 Detergent (AQ243)
                    p Volume – 5L bottles
                    p Effective against a broad spectrum of microorganisms and soil related protein. 
                  .chemicals-content
                    h4 Rinse Aid (AQ263)
                    p Volume – 5L bottles
                    p Aids in preventing rusting of the washer chamber and pipework, as well as acting as a surfactant that aids quicker drying of washed equipment. 
                  .chemicals-content
                    h4 Disinfectant (AQ283)
                    p Volume – 5L bottles
                    p Proven to be effective against a broad spectrum of microorganisms.              
              button.btn.btn--view-more.find-out-more Find out more
  
    footer.footer
      section
        .container
          .footer__top-contact-us#contact-us
            i.contact-us__close &times;
            form.opacity
              h2 contact us
              .label__wrapper
                input(type="text", name="name", id="name" required)
                span(class="highlight")
                span(class="bar")
                label(for="name", class="label--floating") name
              .label__wrapper
                input(type="text", name="surname", id="surname" required)
                span(class="highlight")
                span(class="bar")
                label(for="surname", class="label--floating") surname
              .label__wrapper
                input(type="email", name="email", id="email" required)
                span(class="highlight")
                span(class="bar")
                label(for="email", class="label--floating") email
              .label__wrapper
                textarea(name="message", id="message" required rows="3")
                span(class="highlight")
                span(class="bar")
                label(for="message", class="label--floating") message
              button(class="btn btn--submit" type="button") submit
      section.footer__centre
        .container
          section.flex
            .footer__centre-logo.flex.flex--center
              include partials/page-components/logo-svg.jade        
            .footer__centre-navigation.flex.flex--center
              nav
                ul.flex
                  li: a(href="company.html") company
                  li: a(href="facing-the-reality.html") facing the reality
                  li: a(href="partners.html") partners
                  li: a(href="#follow-us") follow us
            .footer__centre-follow-us
              i.follow-us__close &times;
              .follow-us-container.opacity
                a(href="http://www.linkedin.com/company/10386914?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10386914%2Cidx%3A2-1-2%2CtarId%3A1486756326929%2Ctas%3Aastrum%20health" target="_blank")
                  include partials/page-components/linkedin-svg.jade
                a(href="https://twitter.com/Astrum_Health" target="_blank") 
                  include partials/page-components/twitter-svg.jade      
      section.footer__bottom
        .footer__bottom-copyright.flex.flex--center
          p Copyright #[span.date] - Designed by #[a(href="#") francesco albanese]
    
    a(href="#top" title="Back to top").back-to-top #[i.fa.fa-angle-up.fa-3x(aria-hidden='true')]
    section.offscreen-menu.flex.flex--center
      i.offscreen-menu__close &times;
      nav
        ul.flex.flex--center
          li
            a(href="index.html") home
          li
            a(href="company.html") company
          li
            a(href="partners.html") partners
          li
            a(href="facing-the-reality.html") facing the reality
          li
            a.follow-us(href="#") follow us
          li 
            a(href="solutions.html") solutions
          li 
            a(href="facing-the-reality.html") resources
          li 
            a(href="testimonials.html") testimonials
          li 
            a(href="#contact-us") contact us
    
    - if (production === false)          
      script(src="js/es6/navbar.js")            
      script(src="js/es6/svg-animation.js")
      script(src="js/es6/tabs.js")
      script(src="js/es6/displaymode.js")
      script(src="js/es6/sendmail.js", charset="utf-8")
    -  else 
      script(src="js/bundle.js")
      script(src="js/displaymode.min.js")
