doctype html
html(lang="en-GB")
    include partials/page-components/head.jade    
    
    body(id="top")
        section.home-section
            .home-section__overlay
            .container 
                include partials/page-components/header.jade
                .home-section__logo
                    include partials/page-components/logo-svg.jade
                h2 Astrum Health is a leader in providing education and solutions that improve infection control within medical environments.
                a(href="#solutions") #[i.fa.fa-angle-down.fa-4x]
        
        section#solutions.solutions-section
            .container
              .grid.flex.flex--center
                article
                  .article__image
                    img(src="images/1.jpg")
                    a.btn(href="#") Read More
                  p Washer disinfectors for healthcare. Enter a world of superior washer disinfecting efficacy - best in class
                article
                  .article__image
                    img(src="images/2.jpg")
                    a.btn(href="#") Read More
                  p Uncompromising quality solutions for sterile services that promote patient care and safety
                article
                  .article__image
                    img(src="images/3.jpg")
                    a.btn(href="#") Read More
                  p Offering a new generation of track and traceability solutions for sterilization process monitoring
                article
                  .article__image
                    img(src="images/4.jpg")
                    a.btn(href="#") Read More
                  p Understanding and supporting our customer needs - Service is our most valuable product
        
        section#resources.facing-the-reality-section
          h2 Facing the reality
          p Solutions are not only for problems you can see
          .facing-the-reality__grid
            .facing-the-reality__grid-article-wrapper.facing-the-reality__grid-article-wrapper--odd.flex
              .facing-the-reality__grid-image
              .facing-the-reality__grid-article.flex.flex--center
                h4 HEADING
                h4.subheading SUB HEADING
                a(href="#") Article Title #[i(class="fa fa-chevron-right" aria-hidden="true")]
            .facing-the-reality__grid-article-wrapper.facing-the-reality__grid-article-wrapper--even.flex
              .facing-the-reality__grid-image
              .facing-the-reality__grid-article.flex.flex--center
                h4 HEADING
                h4.subheading SUB HEADING
                a(href="#") Article Title #[i(class="fa fa-chevron-right" aria-hidden="true")]
            .facing-the-reality__grid-article-wrapper.facing-the-reality__grid-article-wrapper--odd.flex
              .facing-the-reality__grid-image
              .facing-the-reality__grid-article.flex.flex--center
                h4 HEADING
                h4.subheading SUB HEADING
                a(href="#") Article Title #[i(class="fa fa-chevron-right" aria-hidden="true")]
            .facing-the-reality__grid-article-wrapper.facing-the-reality__grid-article-wrapper--even.flex
              .facing-the-reality__grid-image
              .facing-the-reality__grid-article.flex.flex--center
                h4 HEADING
                h4.subheading SUB HEADING
                a(href="#") Article Title #[i(class="fa fa-chevron-right" aria-hidden="true")]
            .facing-the-reality__grid-article-wrapper.facing-the-reality__grid-article-wrapper--odd.flex
              .facing-the-reality__grid-image
              .facing-the-reality__grid-article.flex.flex--center
                h4 HEADING
                h4.subheading SUB HEADING
                a(href="#") Article Title #[i(class="fa fa-chevron-right" aria-hidden="true")]
                
          .twitter-container.flex.flex--center
            a(class="twitter-timeline" data-lang="en" data-width="500" data-height="800" href="https://twitter.com/Astrum_Health") Tweets by Astrum_Health
            
        section#testimonials.testimonials-section
          h2 what people say about us
          .container
            .grid.flex.flex--space-between
              .testimonial
                .article__image
                  img(src="images/business1.jpg")
                h3 mr Johnes
                p "The Aquaphase washer minimised closure of superbug infected ward as our medical equipment and furniture could be decontaminated and turned around within 24hours. Something that would need days under manual decontamination costing the hospital vast sums in lost bed  days, and staff and patient disruption."
              .testimonial
                .article__image
                  img(src="images/business2.jpg")
                h3 mr Johnes  
                p "Investing in a washer disinfector employing chemical disinfection has increased our equipment life cycle as opposed to thermal disinfection which has a negative effect of damage to equipment surfaces, hence cost savings from reducing condemned equipment."
              .testimonial
                .article__image
                  img(src="images/business3.jpg")
                h3 mr Johnes  
                p "Jet washes and manual decontamination seemed effective until we employed an automated washer disinfector which meant we could validate reproduce washes. With the Aquaphase, we were also able to quantify and regulate our utility usage."
        
        footer.footer
        
          section.footer__top
            .container
              .footer__top-contact.flex.flex--space-between
                .footer__top-contact-email.flex.flex--center
                  i.fa.fa-envelope-o(aria-hidden='true')
                  h3 Email us
                .footer__top-contact-phone.flex.flex--center
                  i.fa.fa-phone-square(aria-hidden='true')
                  a(href='tel:+44117117888', rel='nofollow') 0117117888
                .footer__top-contact-find-us.flex.flex--center
                  i.fa.fa-map-marker(aria-hidden='true')
                  h3 Find us
              .footer__top-map
          section.footer__centre
            .container
              section.flex
                .footer__centre-logo.flex.flex--center
                  include partials/page-components/logo-svg.jade        
                .footer__centre-navigation.flex.flex--center
                  nav
                    ul.flex
                      li: a(href="#") company
                      li: a(href="#") facing the reality
                      li: a(href="#") partners
                      li: a(href="#") join us on
          section.footer__bottom  
            .container
              .footer__bottom-copyright.flex.flex--center
                p Copyright 2016 - Designed by #[a(href="#") francesco albanese]
        
        a(href="#top" title="Back to top").back-to-top #[i.fa.fa-angle-up.fa-3x(aria-hidden='true')]
        section.offscreen-menu.flex.flex--center
          i.offscreen-menu__close &times;
          nav
            ul.flex.flex--center
              li
                a(href="#") company
              li
                a(href="#") partners
              li
                a(href="#") facing the reality
              li
                a(href="#") join us on
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js", charset="utf-8")
        script(async defer src="//platform.twitter.com/widgets.js" charset="utf-8")
        script.
          function googleError() {
            alert('Error, couldn\'t load Google Maps API, please refresh the page!');
          }
        script(async defer src='https://maps.googleapis.com/maps/api/js?&key=AIzaSyDo1QK9ZijAF99Knr1xbwgb3N61PrE7dKU&callback=googleMap.init', onerror='googleError()')        
        script(src="js/es6/index.js", charset="utf-8")            
        script(src="js/es6/navbar.js", charset="utf-8")            
        script(src="js/es6/svg-animation.js", charset="utf-8")            
