doctype html
html(lang="en-GB")
    include partials/page-components/head.jade    
    
    body
        .home-section
            .home-section__overlay
            include partials/page-components/header.jade
            
