- var production = true;

doctype html
html(lang="en-GB")
    include partials/page-components/head.jade
    
    body(id="top")
        section.home-section
            .home-section__overlay
            .container 
                include partials/page-components/header.jade
                .home-section__logo
                    include partials/page-components/logo-svg.jade
                //- h2 Astrum Health is a leader in providing education and solutions that improve infection control within medical environments.
                h2.fadeIn Leading the supply of innovative solutions for infection control.
                a(href="#solutions") #[i.fa.fa-angle-down.fa-4x]
        
        section#solutions.solutions-section
            .container
              .grid.flex.flex--center
                article.opacity
                  .article__image
                    img(src="images/AQ4.jpg")
                    a.btn(href="aquaphase-washer-disinfector.html") Read More
                  p Washer disinfectors for healthcare. Enter a world of superior washer disinfecting efficacy - best in class
                article.opacity
                  .article__image
                    img(src="images/sterile-services.png")
                    a.btn(href="sealers.html") Read More
                  p Uncompromising quality solutions for sterile services that promote patient care and safety
                article.opacity
                  .article__image
                    img(src="images/diathermy.jpg")
                    a.btn(href="diathermy.html") Read More
                  p Insulation testing for diathermy instruments.
                article.opacity
                  .article__image
                    img(src="images/service-support.jpg")
                    a.btn(href="we-can-help.html") Read More
                  p Understanding and supporting our customer needs - Service is our most valuable product.
        
        section#resources.facing-the-reality-section
          h2 Facing the reality
          p Solutions are not only for problems you can see
          .facing-the-reality__grid
            .facing-the-reality__grid-article-wrapper.facing-the-reality__grid-article-wrapper--odd.flex
              .facing-the-reality__grid-image
              .facing-the-reality__grid-article.flex.flex--center
                h4 Surgical Diathermy Burns
                h4.subheading Lack of Electrode Testing
                a(href="facing-the-reality1.html") Find out more #[i(class="fa fa-chevron-right" aria-hidden="true")]
            .facing-the-reality__grid-article-wrapper.facing-the-reality__grid-article-wrapper--even.flex
              .facing-the-reality__grid-image
              .facing-the-reality__grid-article.flex.flex--center
                h4 Insulation failure in electrosurgery instrumentation
                h4.subheading Proactive Diathermy Testing
                a(href="facing-the-reality2.html") Find out more #[i(class="fa fa-chevron-right" aria-hidden="true")]
            .facing-the-reality__grid-article-wrapper.facing-the-reality__grid-article-wrapper--odd.flex
              .facing-the-reality__grid-image
              .facing-the-reality__grid-article.flex.flex--center
                h4 Cross Contamination on Hospital Surfaces and Medical Equipment
                h4.subheading Decontamination of equipment
                a(href="facing-the-reality3.html") Find out more #[i(class="fa fa-chevron-right" aria-hidden="true")]
            .facing-the-reality__grid-article-wrapper.facing-the-reality__grid-article-wrapper--even.flex
              .facing-the-reality__grid-image
              .facing-the-reality__grid-article.flex.flex--center
                h4 The Impact of Hospital Furniture in Infection Control
                h4.subheading The Enemy In the Unseen
                a(href="facing-the-reality4.html") Find out more #[i(class="fa fa-chevron-right" aria-hidden="true")]
            .facing-the-reality__grid-article-wrapper.facing-the-reality__grid-article-wrapper--odd.flex
              .facing-the-reality__grid-image
              .facing-the-reality__grid-article.flex.flex--center
                h4 The role of hospital surfaces in transmission of pathogens
                h4.subheading The inability to validate manually cleaned surfaces and equipment
                a(href="facing-the-reality5.html") Find out more #[i(class="fa fa-chevron-right" aria-hidden="true")]
                
          .twitter-container.flex.flex--center
            a(class="twitter-timeline" data-lang="en" data-width="400" data-height="400" href="https://twitter.com/Astrum_Health") Tweets by Astrum_Health
            script(src="//platform.twitter.com/widgets.js" charset="utf-8")
            script.
                $('.twitter-timeline').attr('style', 'position: static;visibility: visible;display: inline-block;width: 400px;display: block;height: 400px;padding: 0px;border: none;max-width: 100%;min-width: 180px;margin-top: 0px;margin-bottom: 0px;min-height: 200px;box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.75) !important;');
                var timelineInterval = setInterval(function() {
                  var $timelineHeader = $('.twitter-timeline').contents().find('.timeline-Header');
                  if ($timelineHeader.length) {
                    $('.twitter-timeline').contents().find('.timeline-Header').attr("style", "background: #791563 !important;color: #fff !important");
                    $('.twitter-timeline').contents().find('.timeline-Header-title.u-inlineBlock').attr('style', 'color: #fff !important');
                    $('.twitter-timeline').contents().find('.timeline-Footer.u-cf').attr('style', 'background: #791563 !important;color: #fff !important');
                    return clearInterval(timelineInterval);
                  }
                }, 50);
            
        section#testimonials.testimonials-section
          h2 what people say about us
          .container
            .grid.flex.flex--space-between
              .testimonial.opacity
                .article__image
                  img(src="images/efficiency.jpg")
                h3 Leapfrogging to Better Cost Efficiency
                p "The Aquaphase washer minimised closure of superbug infected ward as our medical equipment and furniture could be decontaminated and turned around within 24hours. Something that would need days under manual decontamination costing the hospital vast sums in lost bed  days, and staff and patient disruption."
              .testimonial.opacity
                .article__image
                  img(src="images/roi.jpg")
                h3 The ROI of Chemical Disinfection  
                p "Investing in a washer disinfector employing chemical disinfection has increased our equipment life cycle as opposed to thermal disinfection which has a negative effect of damage to equipment surfaces, hence cost savings from reducing condemned equipment."
              .testimonial.opacity
                .article__image
                  img(src="images/consistency.jpg")
                h3 Bullseye for Repeatable Results  
                p "Jet washes and manual decontamination seemed effective until we employed an automated washer disinfector which meant we could validate reproduce washes. With the Aquaphase, we were also able to quantify and regulate our utility usage."
        
        footer.footer
        
          section.footer__top
            .container
              .footer__top--email-phone.flex.flex--space-around
                .footer__top-contact-email.flex.flex--center
                  i.fa.fa-envelope-o(aria-hidden='true')
                  h2 Email us
                .footer__top-contact-phone.flex.flex--center
                  i.fa.fa-phone-square(aria-hidden='true')
                  a(href='tel:+44117117888', rel='nofollow') 0117117888
              .footer__top-map-content-wrapper.flex.flex--space-between
                .footer__top-map
                .footer__top-contact.flex.flex--space-between
                  .footer__top-contact-find-us.flex.flex--center
                    i.fa.fa-map-marker(aria-hidden='true')
                    h2 Find us
                  .footer__top-contact-address.flex.flex--center
                    address
                      h3 Unit B1006
                      h3 94 New Road
                      h3 Hill of GoodHope 2
                      h3 Midrand
                      h3 Gauteng 1685
                      h3 South Africa  
              .footer__top-contact-us#contact-us
                i.contact-us__close &times;
                form.opacity
                  h2 contact us
                  .label__wrapper
                    input(type="text", name="name", id="name" required)
                    span(class="highlight")
                    span(class="bar")
                    label(for="name", class="label--floating") name
                  .label__wrapper
                    input(type="text", name="surname", id="surname" required)
                    span(class="highlight")
                    span(class="bar")
                    label(for="surname", class="label--floating") surname
                  .label__wrapper
                    input(type="email", name="email", id="email" required)
                    span(class="highlight")
                    span(class="bar")
                    label(for="email", class="label--floating") email
                  .label__wrapper
                    textarea(name="message", id="message" required rows="3")
                    span(class="highlight")
                    span(class="bar")
                    label(for="message", class="label--floating") message
                  button(class="btn btn--submit" type="button") submit
                    
                  
                    
                  
                
          section.footer__centre
            .container
              section.flex
                .footer__centre-logo.flex.flex--center
                  include partials/page-components/logo-svg.jade        
                .footer__centre-navigation.flex.flex--center
                  nav
                    ul.flex
                      li: a(href="company.html") company
                      li: a(href="facing-the-reality.html") facing the reality
                      li: a(href="partners.html") partners
                      li: a(href="#follow-us") follow us
                .footer__centre-follow-us
                  i.follow-us__close &times;
                  .follow-us-container.opacity
                    a(href="http://www.linkedin.com/company/10386914?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10386914%2Cidx%3A2-1-2%2CtarId%3A1486756326929%2Ctas%3Aastrum%20health" target="_blank")
                      include partials/page-components/linkedin-svg.jade
                    a(href="https://twitter.com/Astrum_Health" target="_blank") 
                      include partials/page-components/twitter-svg.jade
          section.footer__bottom
            .footer__bottom-copyright.flex.flex--center
              p Copyright 2016 - Designed by #[a(href="#") francesco albanese]
        
        a(href="#top" title="Back to top").back-to-top #[i.fa.fa-angle-up.fa-3x(aria-hidden='true')]
        section.offscreen-menu.flex.flex--center
          i.offscreen-menu__close &times;
          nav
            ul.flex.flex--center
              li
                a(href="company.html") company
              li
                a(href="partners.html") partners
              li
                a(href="facing-the-reality.html") facing the reality
              li
                a.follow-us(href="#") follow us
              li 
                a(href="#solutions") solutions
              li 
                a(href="#resources") resources
              li 
                a(href="#testimonials") testimonials
              li 
                a(href="#contact-us") contact us
        script.
          function googleError() {
            alert('Error, couldn\'t load Google Maps API, please refresh the page!');
          }
        script(async defer src='https://maps.googleapis.com/maps/api/js?&key=AIzaSyDo1QK9ZijAF99Knr1xbwgb3N61PrE7dKU&callback=googleMap.init', onerror='googleError()')
      - if (production === false) 
        script(src="js/es6/index.js", charset="utf-8")            
        script(src="js/es6/navbar.js", charset="utf-8")            
        script(src="js/es6/svg-animation.js", charset="utf-8")
        script(src="js/es6/sendmail.js", charset="utf-8")
      -  else 
        script(src="js/bundle.js")
            
