doctype html
html(lang="en-GB")
    include partials/page-components/head.jade    
    
    body
        .home-section
            .home-section__overlay
            .container 
                include partials/page-components/header.jade
                .home-section__logo
                    include partials/page-components/logo-svg.jade
                h2 Astrum Health is a leader in providing education and solutions that improve infection control within medical environments.
                i.fa.fa-angle-down.fa-4x
        
        .articles-section
            .container
                h2 Testing Please
