doctype html
html(lang="en-GB")
    include partials/page-components/head.jade    
    
    body
        .home-section
            .home-section__overlay
            .container 
                include partials/page-components/header.jade
                .home-section__logo
                    include partials/page-components/logo-svg.jade
                h2 Astrum Health is a leader in providing education and solutions that improve infection control within medical environments.
                i.fa.fa-angle-down.fa-4x
        
        .solutions-section
            .container
              .grid.flex.flex--center
                article
                  .article__image
                    img(src="images/1.jpg")
                    a.btn(href="#") Read More
                  p Washer disinfectors for healthcare. Enter a world of superior washer disinfecting efficacy - best in class
                article
                  .article__image
                    img(src="images/2.jpg")
                    a.btn(href="#") Read More
                  p Uncompromising quality solutions for sterile services that promote patient care and safety
                article
                  .article__image
                    img(src="images/3.jpg")
                    a.btn(href="#") Read More
                  p Offering a new generation of track and traceability solutions for sterilization process monitoring
                article
                  .article__image
                    img(src="images/4.jpg")
                    a.btn(href="#") Read More
                  p Understanding and supporting our customer needs - Service is our most valuable product
        
        .facing-the-reality-section
          h2 Facing the reality
          p Solutions are not only for problems you can see
          .facing-the-reality__grid
            .facing-the-reality__grid-article-wrapper.facing-the-reality__grid-article-wrapper--odd.flex
              .facing-the-reality__grid-image
              .facing-the-reality__grid-article.flex.flex--center
                h4 HEADING
                h4.subheading SUB HEADING
                i(class="fa fa-chevron-right" aria-hidden="true") #[a(href="#") Article Title]
            .facing-the-reality__grid-article-wrapper.facing-the-reality__grid-article-wrapper--even.flex
              .facing-the-reality__grid-image
              .facing-the-reality__grid-article.flex.flex--center
                h4 HEADING
                h4.subheading SUB HEADING
                i(class="fa fa-chevron-right" aria-hidden="true") #[a(href="#") Article Title]
            .facing-the-reality__grid-article-wrapper.facing-the-reality__grid-article-wrapper--odd.flex
              .facing-the-reality__grid-image
              .facing-the-reality__grid-article.flex.flex--center
                h4 HEADING
                h4.subheading SUB HEADING
                i(class="fa fa-chevron-right" aria-hidden="true") #[a(href="#") Article Title]
            .facing-the-reality__grid-article-wrapper.facing-the-reality__grid-article-wrapper--even.flex
              .facing-the-reality__grid-image
              .facing-the-reality__grid-article.flex.flex--center
                h4 HEADING
                h4.subheading SUB HEADING
                i(class="fa fa-chevron-right" aria-hidden="true") #[a(href="#") Article Title]
            .facing-the-reality__grid-article-wrapper.facing-the-reality__grid-article-wrapper--odd.flex
              .facing-the-reality__grid-image
              .facing-the-reality__grid-article.flex.flex--center
                h4 HEADING
                h4.subheading SUB HEADING
                i(class="fa fa-chevron-right" aria-hidden="true") #[a(href="#") Article Title]
                
          .twitter-container.flex.flex--center
            a(class="twitter-timeline" data-lang="en" data-width="500" data-height="800" href="https://twitter.com/Astrum_Health") Tweets by Astrum_Health
            
        .testimonials-section
          h2 what people say about us
