- var production = true;
doctype html
html(lang="en-GB")
  head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content ='IE=edge')
      meta(name='description', content='Astrum Health is a leader in providing education and solutions that improve infection control within medical environments.')
      meta(name='keywords', content='keywords')
      meta(name="robots", content="noindex, nofollow")
      meta(name='author', content='Francesco Albanese')
      link(rel='canonical', href='company.html')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
      title Astrum Health
      link(rel='icon', href='', type='image/x-icon', sizes='16x16')
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")
      - if (!production)
        link(rel='stylesheet', href='css/main.css')
      - else  
        link(rel='stylesheet', href='css/main.min.css')
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js", charset="utf-8")
      
      <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
    
  body(id="top", class="partners")
    section.header--not-home
      .container 
          include partials/page-components/header-not-home.jade
        
    section.content.fadeIn
      .container
        article.content__container
          section.content__logos
            img(src="images/AquaPhase-Logo.jpg") 
            img(src="images/Entrhal-Medical-Logo.jpg") 
          h1 Partners
          p.split-columns At Astrum Health, high superior infection control standards are our chief priority, which our partners fully understand and support. Astrum’s partners are manufacturers of high quality medical devices that meet international quality standards. Together, our aim is to support healthier lives, increasing efficiency whilst decreasing cost - both direct and indirect. This is attained though building value from educating, superb class service and bespoke customer relationship. 
          
          p We maintain a close working relationship with our partners which sees customer needs and feedback appropriately fed up the supply chain. This is used to influence our continuing product development and solution provision.
  
    footer.footer
      section
        .container
          .footer__top-contact-us#contact-us
            i.contact-us__close &times;
            form.opacity
              h2 contact us
              .label__wrapper
                input(type="text", name="name", id="name" required)
                span(class="highlight")
                span(class="bar")
                label(for="name", class="label--floating") name
              .label__wrapper
                input(type="text", name="surname", id="surname" required)
                span(class="highlight")
                span(class="bar")
                label(for="surname", class="label--floating") surname
              .label__wrapper
                input(type="email", name="email", id="email" required)
                span(class="highlight")
                span(class="bar")
                label(for="email", class="label--floating") email
              .label__wrapper
                textarea(name="message", id="message" required rows="3")
                span(class="highlight")
                span(class="bar")
                label(for="message", class="label--floating") message
              button(class="btn btn--submit" type="submit") submit
      section.footer__centre
        .container
          section.flex
            .footer__centre-logo.flex.flex--center
              include partials/page-components/logo-svg.jade        
            .footer__centre-navigation.flex.flex--center
              nav
                ul.flex
                  li: a(href="company.html") company
                  li: a(href="facing-the-reality.html") facing the reality
                  li: a(href="partners.html") partners
                  li: a(href="#follow-us") follow us
            .footer__centre-follow-us
              i.follow-us__close &times;
              .follow-us-container.opacity
                a(href="http://www.linkedin.com/company/10386914?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10386914%2Cidx%3A2-1-2%2CtarId%3A1486756326929%2Ctas%3Aastrum%20health" target="_blank")
                  include partials/page-components/linkedin-svg.jade
                a(href="https://twitter.com/Astrum_Health" target="_blank") 
                  include partials/page-components/twitter-svg.jade
      section.footer__bottom
        .footer__bottom-copyright.flex.flex--center
          p Copyright 2016 - Designed by #[a(href="#") francesco albanese]
    
    a(href="#top" title="Back to top").back-to-top #[i.fa.fa-angle-up.fa-3x(aria-hidden='true')]
    section.offscreen-menu.flex.flex--center
      i.offscreen-menu__close &times;
      nav
        ul.flex.flex--center
          li
            a(href="index.html") home
          li
            a(href="company.html") company
          li
            a(href="partners.html") partners
          li
            a(href="facing-the-reality.html") facing the reality
          li
            a.follow-us(href="#") follow us
          li 
            a(href="solutions.html") solutions
          li 
            a(href="facing-the-reality.html") resources
          li 
            a(href="testimonials.html") testimonials
          li 
            a(href="#contact-us") contact us
    
    - if (production === false)          
      script(src="js/es6/navbar.js", charset="utf-8")            
      script(src="js/es6/svg-animation.js", charset="utf-8")
    -  else 
      script(src="js/bundle.js")
