.content {
  display: flex;
  align-items: center;

  &__logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    @media screen and (max-width: $container-medium) {
      img:first-child {
        margin-bottom: $spacing-medium;
      }
    }
  }

  .url {
    padding: $spacing-small $spacing-medium;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        border: none;
    }
  }

  .content__container {
    padding: $spacing-large;
    h1,
    h2 {
      text-align: center;
    }
    p {
      padding: $spacing-large $spacing-base;
      line-height: 1.5;
    }
  }

}
