.content {
  display: flex;
  align-items: center;

  .content__container {
    padding: $spacing-large;
    h1,
    h2 {
      text-align: center;
    }
    p {
      padding: $spacing-large $spacing-base;
      line-height: 1.5;
    }
  }

}
