.footer {

  &__top {
    background: #AB35CA;
    color: $silver;
    padding: $spacing-large;
    h2,
    a[href^="tel:"] {
      padding-left: $spacing-base;
      cursor: pointer;
    }

    @media screen and (max-width: 39.063em) {
      &-map-content-wrapper {
        flex-direction: column;
      }
    }

    &-contact,
    &-map {
      margin-bottom: $spacing-large;
      margin-top: $spacing-large;
    }
    &-map {
      height: 400px;
      display: flex;
      flex: 1;
      max-width: 700px;
      //@media screen and (max-width: $container-small) {
      //  height: 400px;
      //}
    }

    &--email-phone {
      i {
        font-size: 5em;
        @media screen and (max-width: $container-large) {
          font-size: 4em;
        }
        @media screen and (max-width: $container-medium) {
          font-size: 2em;
        }
      }
        @media screen and (max-width: $container-medium) {
          h2,a[href^="tel:"] {font-size: 1.3em;}
        }

        @media screen and (max-width: 28.125em) {//450px
          i {font-size: 1.3em}
          h2,a[href^="tel:"] {font-size: .83em;}
        }
    }

    &-contact {
      flex-direction: column;
      align-items: baseline;
      margin-left: $spacing-medium;

      @media screen and (max-width: 39.063em) {
        flex-direction: row;
      }
      //iPhone 6S Plus
      @media only screen
      and (min-device-width : 414px)
      and (max-device-width : 736px)
      and (orientation : portrait) {
        flex-direction: row !important;
      }
      //iphone 5 & 5S
      @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 568px)
      and (orientation : portrait) {
        flex-direction: column;
      }
      div {

        //iphone 5 & 5S
        @media only screen
        and (min-device-width : 320px)
        and (max-device-width : 568px)
        and (orientation : portrait) {
          margin-top: $spacing-base;
          margin-bottom: $spacing-base;
        }
        i {
          font-size: 5em;
          @media screen and (max-width: $container-large) {
            font-size: 4em;
          }
          @media screen and (max-width: $container-medium) {
            font-size: 2em;
          }
        }
          @media screen and (max-width: $container-medium) {
            h2,a[href^="tel:"] {font-size: 1.3em;}
          }

          @media screen and (max-width: 28.125em) {//450px
            i {font-size: 1.3em}
            h2,a[href^="tel:"] {font-size: .83em;}
          }
      }
    }

    &-contact-us {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($solutions-bg, .85);
      z-index: 150;
      padding: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s ease-in-out;
      .contact-us__close {
        color: $silver;
        position: fixed;
        top: $spacing-base;
        left: $spacing-base;
        font-size: 4em;
        font-family: abeatbyKai, sans-serif;
        font-weight: 100;
        cursor: pointer;
      }
      &.is-visible {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__centre {
    background: #8A8A8A;
    color: $silver;

    @media screen and (max-width: 39.063em) {
      section {flex-direction: column;}
    }

    svg {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      min-width: 20em;
      width: 20em;
    }

    & &-navigation {
      flex: 1;
      ul {
        flex-wrap: wrap;
        li {
          width: 50%;
          flex: 1 1 50%;
          text-align: center;
          margin: $spacing-large 0;
          @media screen and (max-width: $container-medium) {
            flex: 1 1 100%;
            width: auto;
          }
          a {
            color: $silver;
            font-family: abeatbyKai;
            font-size: 1.875em;
            padding: $spacing-small $spacing-base;
            @include sweep-to-right(#9E1981, #fff);
            border-bottom: 2px solid;
            @media screen and (max-width: $container-large) {
              font-size: 1.438em;
            }
            &:hover {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }

  &__bottom {
    &-copyright{
      background-color: $white;
      p {
        padding: $spacing-medium 0;
        color: #7C136C;
        font-family: 'abeatbyKai', sans-serif;
        font-size: 1.875em;
        @media screen and (max-width: $container-large) {
          font-size: 1.438em;
        }

        @media screen and (max-width: 39.063em) {
          font-size: .65em;
          word-break: break-all;
        }
      }
      a {
        @include sweep-to-right(#9E1981, #fff);
        border-bottom: 2px solid #8A8A8A;
        padding: $spacing-small $spacing-base;
        &:hover {
          border-bottom: 0;
        }
      }
    }
  }

}
