.tabs {
  padding: $spacing-large;
  &-title-container {
    margin-bottom: $spacing-medium;
    .tab__title {
      cursor: pointer;
      font-family: abeatbyKai, sans-serif;
      font-size: 2em;
      color: $solutions-bg;
      border-bottom: 1px solid $solutions-bg;
      padding: 3px $spacing-medium;
      @media screen and (max-width: $container-small) {
        font-size: 1.1em;
        text-align: center;
      }

      @media screen and (max-width: $container-small) {
        font-size: .9em;
      }

      @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 568px)
      and (orientation : portrait) {
        padding: 3px 8px;
      }
      &.is-active {
        border-bottom: 3px solid $facing-the-reality-bg;
      }
    }
  }
  .tab {
    display: none;
    &.is-visible {
      display: flex;
      .tab__content {
        animation-name: scaleTab;
        animation-duration: .25s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        .content__image {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: $spacing-large auto;
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }
        .display-mode {
          display: flex;
          align-items: baseline;
        }
        &--explore-all-models {
          justify-content: space-between;
          align-items: baseline;
          flex-wrap: wrap;
          &.display-list {
            .model-content {
              flex-basis: 100%;
              h3 {
                margin-bottom: 0;
              }
              .model-content-container {
                display: flex;
                align-items: baseline;
                img {
                  width: 180px;
                  height: auto;
                  margin: auto;
                  margin-right: 20px;
                }
              }
            }
          }
          &.display-slider {
            .slider-wrapper-container {
              overflow: hidden;
              position: relative;

              .model-content-container {
                transition: transform .35s cubic-bezier(0.165, 0.84, 0.44, 1);
              }

              .arrow-container {
                position: absolute;
                top: 50%;
                transform: translate3d(0, -50%, 0);
                cursor: pointer;
                background: #AB35CA;
                color: #fff;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                height: 45px;
                box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
                0 4px 15px 0 rgba(0, 0, 0, 0.15);
                z-index: 20;
                transition: all .25s ease-in-out;
                &--left {
                  left: 0;
                  i {
                    padding-right: 3px;
                  }
                }

                &--right {
                  right: 0;
                  i {
                    padding-left: 3px;
                  }
                }
                i {
                  padding-bottom: 3px;
                  pointer-events: none;
                }
              }
            }
            .model-content {
              display: inline-flex;
            }
          }
          .model-content {
            flex-basis: 45%;
            flex-direction: column;
            height: 675px;
            margin-bottom: $spacing-base;
            @media screen and (max-width: $container-medium) {
              flex-basis: 100%;
              align-items: center;
              height: auto;
            }
            h3 {
              margin-bottom: $spacing-large;
              margin-top: $spacing-medium;
              @media screen and (max-width: $container-medium) {
                font-size: 1.563em;
              }
            }
            img {
              width: 400px;
              height: 325px;
              @media screen and (max-width: $container-small) {
                width: 270px;
                height: 270px;
              }
            }
            ul {
              list-style-type: disc;
              margin-left: $spacing-medium;
            }
            &--universal-features {
              display: flex;
              flex-basis: 100%;
              align-items: center;
              flex-direction: column;
              ul {
                list-style-type: disc;
                margin-left: $spacing-medium;
              }
            }
          }
        }
        p {
          margin-bottom: $spacing-small;
          font-size: 1.25em;
          flex: 1;
          text-align: justify;
          @media screen and (max-width: $container-small) {
            font-size: .938em;
          }
        }
        .features-benefits {
          background: #c5c5c5;
          padding: $spacing-small $spacing-medium;
          transition: all .25s ease-in-out;
          color: #fff;

          .f {
            color: #9E1981;
          }

          .b {
            color: #303F9F;
          }

          &:hover {
            background: #0097A7;
            color: #fff;
          }

          &--odd {
            background: #607D8B;
            &:hover {
              background: #fff;
              color: #607D8B;
            }
          }
        }
      }
    }
  }
}
