.tabs {
  padding: $spacing-large;
  &-title-container {
    margin-bottom: $spacing-medium;
    .tab__title {
      cursor: pointer;
      font-family: abeatbyKai, sans-serif;
      font-size: 2em;
      color: $solutions-bg;
      border-bottom: 1px solid $solutions-bg;
      padding: 3px $spacing-medium;
      &.is-active {
        border-bottom: 3px solid $facing-the-reality-bg;
      }
    }
  }
  .tab {
    display: none;
    &.is-visible {
      display: flex;
      .tab__content {
        animation-name: scaleTab;
        animation-duration: .25s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        p {
          margin-bottom: $spacing-small;
        }
      }
    }
  }
}
