header.header.flex.flex--space-between
    .burger-menu
        span
    nav.navbar
        ul.flex
            li 
                a(href="index.html") home
            li 
                a(href="solutions.html") solutions
            li 
                a(href="facing-the-reality.html") resources
            li 
                a(href="testimonials.html") testimonials
            li 
                a(href="#contact-us") contact us
                
        
