header.header.flex.flex--space-between
    .burger-menu
        span
    nav.navbar
        ul.flex
            li 
                a(href="#") solutions
            li 
                a(href="#") resources
            li 
                a(href="#") testimonials
                
        
