- var production = false;
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content ='IE=edge')
    meta(name='description', content='Astrum Health is a leader in providing education and solutions that improve infection control within medical environments.')
    meta(name='keywords', content='keywords')
    meta(name="robots", content="noindex, nofollow")
    meta(name='author', content='Francesco Albanese')
    link(rel='canonical', href='index.html')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Astrum Health
    link(rel='icon', href='', type='image/x-icon', sizes='16x16')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")
    - if (!production)
      link(rel='stylesheet', href='css/main.css')
    - else  
      link(rel='stylesheet', href='css/main.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js", charset="utf-8")
    
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
