header.header.flex.flex--space-between
    .burger-menu
        span
    nav.navbar
        ul.flex
            li 
                a(href="#solutions") solutions
            li 
                a(href="#resources") resources
            li 
                a(href="#testimonials") testimonials
            li 
                a(href="#contact-us") contact us
                
        
