.home-section {
    width: 100vw;
    height: 100vh;
    background: url(https://c3.staticflickr.com/9/8567/16360331050_2a9c7c04a3_b.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
