.home-section {
    background: url(../images/geometric1.jpg) no-repeat top center fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
    min-height: 46.875em;
    @media screen and (max-width: $container-medium) and (orientation: portrait) {
        height: 100vh;
    }
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 100;
        svg {
            max-width: 100%;
            display: block;
            margin: 0 auto;
            min-width: 20em;
            width: 50em;
            @media screen and (max-width: $container-large) {
                width: 45em;
            }
        }
    }
    h2 {
        font-family: 'Lato';
        color: darken(#9E1981, 5%);
        text-align: center;
        position: relative;
    }
    .fa-angle-down {
        display: block;
        text-align: center;
        margin: 0 auto;
        position: relative;
        z-index: 100;
        color: #9E1981;
        cursor: pointer;
        @include wobble-vertical;
    }
}

.solutions-section {
    background: darken($solutions-bg, 10%);
    color: $silver;
    padding: $spacing-large;
}

.facing-the-reality-section {
    background: $facing-the-reality-bg;
    color: #fff;
    text-align: center;
    padding: $spacing-large;
    .subheading {
      font-size: 1.25em;
      margin-top: $spacing-base;
    }
    p {
        font-size: 2em;
        @media screen and (max-width: $container-medium) {
            font-size: 1.4em;
        }
    }
    a {
        padding: $spacing-small $spacing-medium;
        @include sweep-to-right(darken(#ddd, 5%), #9E1981);
        border-bottom: 1px solid;
        cursor: pointer;
        &:hover {
            border: none;
        }
    }
    .twitter-container {
        margin-top: $spacing-large;
    }
}

.testimonials-section {
    background: $testimonials-bg;
    color: $silver;
    padding: $spacing-large;
    text-align: center;
}
