.home-section {
    background: url(https://c3.staticflickr.com/9/8567/16360331050_2a9c7c04a3_b.jpg) no-repeat;
    background-size: cover;
    position: relative;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 100;
        svg {
            max-width: 100%;
            display: block;
            margin: 0 auto;
            min-width: 20em;
            width: 50em;
            @media screen and (max-width: $container-large) {
              width: 45em;
            }
        }
    }

    h2 {
        font-family: 'Lato';
        color: $silver-darker;
        text-align: center;
        position: relative;
    }

    .fa-angle-down {
        display: block;
        text-align: center;
        margin: 0 auto;
        position: relative;
        z-index: 100;
        color: #fff;
        cursor: pointer;
        @include wobble-vertical;
    }

}

.solutions-section {
    background: $solutions-bg;
    color: $silver;
    padding: $spacing-large;
}

.facing-the-reality-section {
  background: $facing-the-reality-bg;
  color: #fff;
  text-align: center;
  padding: $spacing-large;

  p {
    font-size: 2em;
    @media screen and (max-width: $container-medium) {
      font-size: 1.4em;
    }
  }

  a {
    padding: $spacing-small $spacing-medium;
    @include sweep-to-right(darken(#ddd, 5%), #9E1981);
    border-bottom: 1px solid;
    &:hover {
      border: none;
    }
  }

  .twitter-container {
    margin-top: $spacing-large;
  }

}

.testimonials-section {
  background: $testimonials-bg;
  color: $silver;
  padding: $spacing-large;
  text-align: center;
}
