// Grid system

// container variables
$container-large: 58.750em; //920px
$container-medium: 48.000em; //768px
$container-small: 30.000em; //480px

.container {
  max-width: 75.000em;
  margin: 0 auto;
  padding-left: $spacing-small;
  padding-right: $spacing-small;
  @media screen and (max-width:$container-large) {
    max-width: ($container-large / 100) * 90;
  }
  @media screen and (max-width: $container-medium) {
    max-width: ($container-medium / 100) * 90;
  }
  @media screen and (max-width: $container-small) {
    max-width: ($container-small / 100) * 90;
  }
}

.flex {
  display: flex;
  &--space-between {
    justify-content: space-between;
  }

  &--space-around {
    justify-content: space-around;
  }
  &--center {
    justify-content: center;
    align-items: center;
  }
  &--column {
    flex-direction: column;
  }
}

.grid {
  flex-wrap: wrap;
  margin-top: $spacing-large;

  article {
    flex: 1 1 50%;
    padding: $spacing-large;
    @media screen and (max-width:$container-large) {
      padding: $spacing-medium;
    }
    @media screen and (max-width:$container-medium) {
      flex: 1 1 100%;
    }

    .article__image {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 500px;
        box-shadow: 0px 0px 10px 0px rgba($black, .7);
        transition: all .25s ease-in-out;
        @media screen and (max-width: 68.750em) {
          height: 400px;
        }
        @media screen and (max-width: $container-small) {
          height: 300px;
        }
      }

      .btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        opacity: 0;
        visibility: hidden;
        transform: translate3d(-50%, 100%, 0);
        transition: all .3s ease-in-out;
      }

    }

    &:hover {

      .article__image img {
        transform: scale(1.5);
      }

      .article__image .btn {
        transform: translate3d(-50%, -100%, 0);
        visibility: visible;
        opacity: 1;
      }

    }

    p {
      text-align: center;
      margin-top: $spacing-base;
      @media screen and (max-width: 68.750em) {
        font-size: 1.5em;
      }
    }

  }

  .testimonial {
    flex: 0 1 30%;
    padding: $spacing-base;
    align-self: baseline;
    margin: 0 auto;
    @media screen and (max-width: $container-medium) {
      flex: 0 1 100%;
    }

    img {
      max-width: 300px;
      @media screen and (max-width: $container-large) {
        max-width: 100%;
      }
      height: 300px;
      box-shadow: 0px 0px 10px 0px rgba($black, .7);
    }

    h3,
    p {
      margin-top: $spacing-large;
      margin-bottom: $spacing-large;
    }

    p {
      font-size: 20px;
    }

  }

}

.facing-the-reality__grid {
  max-width: 1380px;
  margin: $spacing-large auto;

  & &-article-wrapper {
    max-width: 1240px;
    @media screen and (max-width: $container-small) {
      flex-direction: column-reverse;
    }
  }

  & &-image {
    width: 620px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba($black, .7);
    max-width: 100%;
  }

  & &-article {
    width: 300px;
    height: 300px;
    flex-direction: column;
    background: $silver;
    color: $black;
    box-shadow: 0px 0px 10px 0px rgba($black, .7);
    @media screen and (max-width: $container-small) {
      width: auto;
    }
  }

  & &-article-wrapper {

    &:first-child {
      .facing-the-reality__grid-image {
        background: url(../images/landscape.jpeg) no-repeat center;
        background-size: cover;
      }
    }

    &:nth-child(2) {
      .facing-the-reality__grid-image {
        background: url(../images/medical.jpeg) no-repeat center;
        background-size: cover;
      }
    }

    &:nth-child(3) {
      .facing-the-reality__grid-image {
        background: url(../images/medical1.jpeg) no-repeat center;
        background-size: cover;
      }
    }

    &:nth-child(4) {
      .facing-the-reality__grid-image {
        background: url(../images/sea.jpeg) no-repeat center;
        background-size: cover;
      }
    }

    &:last-child {
      .facing-the-reality__grid-image {
        background: url(../images/sea1.jpeg) no-repeat center;
        background-size: cover;
      }
    }

    &--even {
      flex-direction: row-reverse;
      justify-content: flex-start;
      @media screen and (max-width: $container-small) {
        flex-direction: column-reverse;
      }
    }
  }

}
